body { margin: 0; padding: 0; vertical-align:top; overflow:hidden;-moz-user-select: none; -khtml-user-select: none; user-select: none;-webkit-user-select: none;}
div, table, tbody, tr, th, td, form {
	margin:0;
	padding:0;
	vertical-align:top;
}
#topmenuSep {
	height:2px;
	left:0;
	top:19px;
	width:100%;
}
.hidden{
	display:none;
	top: 63px ; 
	left: 565px;
}
#menu {
	width:100%;
	z-index: 2;
}
#toolbar {
	background-color:#EEF0F2;
	border-bottom:0px solid #C0C0C0;
	/*display:block;*/
	left:0;
	padding:2px;
	top:21px;
	height:40px;
	vertical-align: middle;
}
#doc-edit {
	background-color:#EEF0F2;
}
#blockUI{display: none; position:absolute; left:0px; top:0px; margin:0; padding:0; z-index:200; background-color:#000000; border:medium none; cursor:wait; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity:0.6; opacity:0.6; }
table {
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
	table-layout:fixed;
}
.utilFont {
	font-family:Arial,sans-serif,sans;
	font-size:10pt;
}
.hiddens
{
	visibility: hidden;
	display: none;
	height: 0px;
}
.paletteTable {
	border-collapse:separate;
	/*border-spacing:1px; */
	margin:4px;
}
.layerTop {
	position:absolute;
	z-index:0;
}
#statusbar, #status {
	width:100%;
}
.tbgnd_bottom {
	background-color:#E0E0FF;
}
.paletteCellHover .colorWatch{border:1px solid #FFFFFF;width:16px;height:16px;}
.bordered {border:1px solid transparent;}
.bordered2 .colorWatch {border:1px solid #666;}
.bg_fill {
	background-position:-544px 50%;
	height:14px;
	width:16px;
}
.colorWatch {
	height:18px;
	width:18px;
	/* border: 1px solid #C6D8E3; */
}
.colorWatch:hover{
	background-image:url(../img/colorSelectorHover.png);
}
/* .colorSelect2:hover{
	background-image:url(../img/colorSelectorHover.png);
} */
.colorHighlight {
	height:36px;
	width:36px;
}
.colorHighlight:hover {
	background-image:url(../img/markerSelectorHover.png);
}
.listWatch {height:74px;width:74px;}
.listMarkerWatch {height:38px;width:38px;}
.listTable{border-collapse:separate;border-spacing: 8px;margin:4px;}
.htTable{border-collapse:separate;border-spacing: 8px;margin:4px;}
.slc:hover{background-color:#B0B0B0;}
.ToolbarColorIndicator, .ToolbarColorIndicator2 {
	border-bottom:4px solid;
	width:16px;
}
.ToolbarColorIndicator2 {
	border-bottom-color:#FF0000;
}
.ToolbarColorIndicator {
	border-bottom-color:#FFFF00;
}
/*.ToolbarDropDown {
	background:url("../img/MainMenuBackground.png") no-repeat scroll -5px -50px transparent;
	display:inline-block;
	height:12px;
	margin-top:3px;
	padding-right:4px;
	position:relative;
	vertical-align:middle;
	width:7px;
}*/
.ToolbarDropDownInner {
	display:inline-block;
	height:21px;
	margin-left:-2px;
	padding-top:5px;
}
.ToolbarButtonCaption {
	display:inline-block;
	height:21px;
	padding:5px 4px 0;
}
.txt_color {
	background-position:-161px 50%;
	height:14px;
	width:16px;
}
.paragraph_color {
	background:url(../img/fill-16.png) 0 50% no-repeat;
	height:16px;
	width:16px;
}
.MenubarBGColor{background-position: -546px 50%;}
.MenubarFontColor{background-position: -161px 50%;}
.separatingLine {background-image: url(../img/shadow.png);background-repeat: repeat-x; height:2px; width:100%;}
.iconToolbar {width: 18px; height: 22px; text-align: left;vertical-align:top; white-space: nowrap; cursor: pointer;}

.options{position: absolute; z-index: 3; background:none repeat scroll 0 0 #FFFFFF;border-color:#FFF #666666 #666666 #A8A8A8;border-style: none solid solid solid;border-width:1px;}
.iconPressed{background-color: #FFF !important; border-color: #A8A8A8}
.toolbarSep {	/*width: 4px;*/ 	text-align: center; vertical-align:middle;}

.toolbarImg {background-image: url(../img/MainMenu_TM.png);	background-repeat: no-repeat;}
.toolbarDigit {background-image: url(../img/ruler.png);	background-repeat: no-repeat; width: 1662px; height: 18px;}
.toolbarImg1 {background-image: url(../img/RuleMarker.png);	background-repeat: no-repeat;}
.toolbarImg2 {background-image: url(../img/toolIcons.png);background-repeat:no-repeat;}
.toolbarImg3 {background-image: url(../img/MainMenu_TM.png);	background-repeat: no-repeat;}
.toolbarImg4 {background-image: url(../img/MainMenu_TM.png);	background-repeat: no-repeat;}
.toolbarImg5 {background-image: url(../img/MainMenu_TM.png);background-repeat:no-repeat;}
.toolbar_sep {background-position: -63px 50%;width: 2px; height: 22px; }

.bold {background-position: -178px 50%;width: 12px;height: 10px; margin-left: 6px; margin-top: 6px;}
.italic {background-position: -192px 50%; width: 12px;	height: 12px; margin-left: 3px; margin-top: 5px;}
.underline{	background-position: -209px 50%;width: 12px; height: 15px; margin-left: 4px; margin-top: 3px;}
.link{	background-position: -336px 50%;width: 17px; height: 14px; margin-left: 3px; margin-top:3px;}
.image{	background-position: -304px 50%;width: 16px; height: 15px; margin-left: 3px; margin-top:3px;}
.imageInText{	background-position: -1350px 50%;width: 16px; height: 15px; margin-left: 3px; margin-top:3px;}
.check{	background-position: -512px 50%;width: 16px; height: 15px; margin-left: 2px; margin-top:2px;}
.align_left{background-position: -18px 50%;width: 14px;height: 12px; margin-left: 5px; margin-top: 5px;}
.align_center{	background-position: -33px 50%;width: 14px;height: 12px; margin-left: 5px; margin-top: 5px;}
.align_right{background-position: -50px 50%;width: 14px;height: 12px; margin-left: 5px; margin-top: 5px;}
.align_justify{background-position: -1px 50%;width: 14px;height: 12px; margin-left: 5px; margin-top: 5px;}
.align_bulleted{background-position: -273px 50%;width: 14px;height: 17px; margin-left: 3px; margin-top: 2px;}
.align_numbered{background-position: -256px 50%;width: 17px;height: 17px; margin-left: 3px; margin-top: 2px;}
.align_multi{background-position: -1312px 50%;width: 17px;height: 17px; margin-left: 3px; margin-top: 2px;}
.MenubarBulleted{background-position: -271px 50%;}
.MenubarNumbered{background-position: -256px 50%;}
.vertIcon{background-position: 0px 50%;width: 11px;height: 17px;  margin-top: 2px;}
.vertIcon2{background-position: -50px -1px;width: 14px;height: 17px; margin-top: 2px;}
.superscript {background-position: -835px 50%;width: 14px;height: 15px; margin-left: 6px; margin-top: 6px;}
.subscript {background-position: -850px 50%; width: 14px;	height: 15px; margin-left: 3px; margin-top: 5px;}
.orientList {background-position: -1332px 50%; width: 18px;	height: 15px; margin-left: 3px; margin-top: 5px;}
.headertitle {background-position: -1367px 50%; width: 16px;	height: 16px; margin-left: 3px; margin-top: 3px;}
.fontsizeIn {background-position: -1397px 50%; width: 18px;	height: 16px; margin-left: 3px; margin-top: 3px;}
.fontsizeOut {background-position: -1380px 50%; width: 17px;	height: 16px; margin-left: 3px; margin-top: 3px;}
.perv {
	height:30px;
	top:20px;
	left:-7px;
	margin:0 auto;
	outline-style:none;
	position:relative;
	text-align:left;
}
.separ {
	background-position:-63px 0;
	height:15px;
	width:2px;
}
.margin {
	background:none repeat scroll 0 0 #EEEEEE;
	cursor:default;
	direction:ltr;
	padding:16px 0 3px;
	text-align:center;
}

.kix-ruler-inner {
	height:15px;
	margin:0 auto;
	outline-style:none;
	position:relative;
	text-align:left;
}
.marginFace {
	height:15px;
	overflow:hidden;
	position:absolute;
}
.marginFaceDigit {
	border:medium none;
	height:15px;
	margin:0;
	padding-left:1px;
	position:relative;
	width: 12px;
}
.faceInner {
	outline-style:none;
	position:absolute;
}
.marginBackground {
	background-color:#DDDDDD;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:1px 0;
	height:13px;
	outline-style:none;
	position:absolute;
}
.background-inner {
	background-color:#FFFFFF;
	height:13px;
	position:absolute;
}
.margin-left {
	cursor:e-resize;
	height:15px;
	font-size:0;
	position:absolute;
}
.margin-right {
	cursor:e-resize;
	height:15px;
	font-size:0;
	position:absolute;
}
.faceInner {
	color:#333333;
	font-size:10px;
	height:15px;
	left:-50%;
	line-height:15px;
	position:absolute;
	text-align:center;
	width:100%;
}
.inline-block {
	display:inline-block;
	position:relative;
	font-family:Arial,sans-serif,sans;
}
.marginFaceSmallLine {
	height:3px;
	margin:6px 0;
}

.marginFaceSmallLine, .marginFaceLine {
	border-left:1px solid #888888;
	font-size:0;
}
.marginFaceLine {
	height:7px;
	margin:4px 0;
}
#fontFormat, #fontSelect, #fontSizeSelect{	-moz-border-radius: 0px;-webkit-border-radius: 0px;-pie-border-radius: 0px;	behavior: url(../js/PIE.htc);height:21px;background-color:#fff;}

#fontSizeSelect .SubItem{text-align:center;}
#fontFormat .innerBox{width:120px;}
#fontSizeSelect {margin-right: 3px;}
.bns{padding: 0.5em 1.5em !important;font-size:12pt;text-align: justify;}
.bns a.link{ color: blue;}
.drawing{padding: 0 !important;border: none !important;}
.lineSpacing{background-image: url(../../images/lineSpacing.png);	background-repeat: no-repeat;background-position: 0px 50%;height: 20px;margin-left: 3px;margin-top: 2px;width: 30px;}
.paragraphMarks{background-image: url(../img/paragraphMarks_whiteBG.png);	background-repeat: no-repeat;background-position: 0px 50%;height: 17px;margin-top: 2px;width: 19px;}
#lineSpacing {margin-right: 3px;background-color: #FFFFFF;border-radius: 0 0 0 0;height: 21px;min-width: 35px;width: 50px;}
#lineSpacing .SubItem {text-align: center;}
.selectedHT{background-color:#B0B0B0;}

.searchElement b {color: #2263f6;}